configuration {
	font: "JetBrains Mono Nerd Font 12";
	modes: "drun,filebrowser,run";
	show-icons: true;
	drun-display-format: "{icon} {name}";
	display-drun: "Applications";
	display-filebrowser: "Files";
	display-run: "Commands";
}

* {
	border: rgba(255, 255, 255, 0.3);
	foreground: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, 0.7);
	selected:  rgba(0, 0, 0, 0.3);
	subdued: rgba(255, 255, 255, 0.5);
	error: rgba(200, 10, 10, 1);
}

window {
	location: center;
	width: 500px;
	border: 2px;
	border-radius: 5px;
	border-color: @border;
	background-color: @background;
}

mainbox {
	spacing: 10px;
	padding: 10px;
	background-color: transparent;
	children: ["inputbar", "message", "listview", "mode-switcher"];
}

inputbar {
	spacing: 10px;
	padding: 10px;
	border: 2px;
	border-radius: 5px;
	border-color: @border;
	text-color: @foreground;
	background-color: @background;
	children: ["prompt", "textbox-prompt-colon", "entry"];
}

prompt {
	text-color: inherit;
	background-color: transparent;
}

textbox-prompt-colon {
	str: "|";
	text-color: inherit;
	background-color: transparent;
}

entry {
	text-color: inherit;
	background-color: transparent;
	placeholder: "Search...";
	placeholder-color: @subdued;
}

listview {
	layout: vertical;
	scrollbar: false;
	columns: 1;
	lines: 5;
	cycle: true;
	dynamic: true;
	spacing: 5px;
	padding: 5px;
	border: 2px;
	border-radius: 5px;
	border-color: @border;
	text-color: @foreground;
	background-color: transparent;
}

element {
	spacing: 10px;
	padding: 10px;
	border-radius: 5px;
	text-color: @foreground;
	background-color: transparent;
}

element normal.normal {
	text-color: @foreground;
	background-color: @background;
}

element alternate.normal {
	text-color: @foreground;
	background-color: @background;
}

element selected.normal {
	border: 2px;
	border-color: @border;
	text-color: @foreground;
	background-color: @selected;
}

element normal.urgent {
	text-color: @foreground;
	background-color: @background;
}

element alternate.urgent {
	text-color: @foreground;
	background-color: @background;
}

element selected.urgent {
	border: 2px;
	border-color: @border;
	text-color: @foreground;
	background-color: @selected;
}

element normal.active {
	text-color: @foreground;
	background-color: @background;
}

element alternate.active {
	text-color: @foreground;
	background-color: @background;
}

element selected.active {
	border: 2px;
	border-color: @border;
	text-color: @foreground;
	background-color: @selected;
}

element-icon {
	size: 30px;
	text-color: inherit;
	background-color: transparent;
}

element-text {
	vertical-align: 0.5;
	text-color: inherit;
	background-color: transparent;
}

mode-switcher {
	spacing: 10px;
	padding: 10px;
	border: 2px;
	border-radius: 5px;
	border-color: @border;
	text-color: @foreground;
	background-color: @background;
}

button {
	border-radius: 5px;
	text-color: inherit;
	background-color: transparent;
}

button selected {
	border: 2px;
	border-color: @border;
	text-color: inherit;
	background-color: transparent;
}

message {
	border: 0px;
	text-color: @foreground;
	background-color: transparent;
}

textbox {
	horizontal-align: 0.5;
	placeholder-color: @foreground;
}

error-message {
	border: 0px;
	text-color: @error;
	background-color: transparent;
}

