<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bottom" />
  <package id="fzf" />
  <package id="make" />
  <package id="neovim" />
  <package id="nmap" />
  <package id="oh-my-posh" />
  <package id="pyenv-win" />
  <package id="speedtest" />
  <package id="vim" />
  <package id="wezterm" />
</packages>
